<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <title>User Input</title>
   </head>
   <body>
      <form>
         <h2>Basic Income Information</h2>
         <label>Annual Income: <input type="text" name="ann_income"/></label><br>
         <h2>Static Expenses(monthly)</h2>
         <label>Rent/Mortgage: <input type="number" name="housing_cost"/></label><br>
         <label>Car Payment: <input type="text" name="car_pay"/></label><br>
         <label>Insurance: <input type="text" name="insur_pay"/></label><br>
         <button>Submit</button>
      </form>
   </body>
</html>